*{
    margin: 0;
    font-family: Prompt, sans-serif;
}
.container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "a a b b b c c"
    "d d b b b e e"
    "f f f g g h h"
    ;
    background-color: #eceded;
    padding: 10px 20px;
}

.item{
    background-color: #FFFFFF;
    border-radius: 20px;
}

.iphone-blue{
    grid-area: b;
}
.iphone-blue img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.watches-three{
    grid-area: a;
    display: flex;
    justify-content: center;
}
.watches-three img{
    object-fit: cover;
}

.airtags{
    grid-area: e;
}
.airtags img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.textP{
    grid-area: d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: color-mix(in srgb-linear, blue 90%, #eceded 80%);
}

.textW{
    grid-area: c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: color-mix(in srgb-linear, blue 100%, #eceded 80%);
}

.mac {
    grid-area: f;
    display: flex;
    justify-content: center;
}
.mac img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.textB{
    grid-area: g;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: color-mix(in srgb-linear, blue 90%, #eceded 80%);
}

.iphone-gray{
    grid-area: h;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iphone-gray img{
    width: 60%;
    height: 100%;
    object-fit: cover;
}