body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    color: white;
    background-color: #012f61;
    display: flex;
    justify-content: space-between; /*Coloca las imagenes a un costado*/
    align-items: center;
    padding: 100px 40px 100px 40px
}
header img {
    filter: brightness(0)invert(1);
    height: 80px;
}
ul {
    list-style: none;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
nav li a{
    text-decoration: none;
    color: white;
}

main{
    height: 100vh;
}

footer{
    background-color: #012f61;
    height: 200px;
}

@media(width <= 578px){
    header{
        background-color: burlywood;
        justify-content: center;
        align-items: center;
    }
    header img:first-child{
        display: none;
    }
}